body{
    background-color: beige;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #3b0047;
    background-color: #003b63;
    background-color: #426600;
    background-color: #b06100;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

#start{
    background-color: black;
    border-style: none;
    color: white;
    height: 50px;
    width: 24%;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
}

#contenedor{
    margin:auto;
    text-align: center;
}

#conectados{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 11px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
}

#textoinicio{
    font-family: sans-serif;
    color: burlywood;
    background: white;
}

#idnick1{
    background-color: lightgray;
    border-style: none;
    height: 29px;
    width: 22%;
    text-align: center;
    color: black;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#idnick2{
    background-color: lightgray;
    border-style: none;
    height: 29px;
    width: 22%;
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#addnick{
    width: 10%;
    height: 31px;
    border-style: none;
    background-color: black;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#addnick2{
    width: 10%;
    height: 31px;
    border-style: none;
    background-color: black;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#reinicio{
    background-color: white;
    width: 157px;
    height: 33px;
    border-style: none;
    margin-top: 17px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left: 4%;
}

#resultadosambos{
    width: 40%;
    background-color: darkslategrey;
    height: 382px;
    border-radius: 19px;
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    padding: 19px;
}

#rock1{
    background-color: cadetblue;
    width: 162px;
    height: 35px;
    color: white;
    border: none;
    margin-right: 5px;
    font-family: 'Bungee', cursive;
}

#papel1{
    background-color: cadetblue;
    width: 162px;
    height: 35px;
    color: white;
    border: none;
    margin-right: 5px;
    font-family: 'Bungee', cursive;
}
#tijera1{
    background-color: cadetblue;
    width: 162px;
    height: 35px;
    color: white;
    border: none;
    margin-right: 5px;
    font-family: 'Bungee', cursive;
}



#rock2{
    background-color: cadetblue;
    width: 162px;
    height: 35px;
    color: white;
    border: none;
    margin-right: 5px;
    font-family: 'Bungee', cursive;
}

#papel2{
    background-color: cadetblue;
    width: 162px;
    height: 35px;
    color: white;
    border: none;
    margin-right: 5px;
    font-family: 'Bungee', cursive;
}
#tijera2{
    background-color: cadetblue;
    width: 162px;
    height: 35px;
    color: white;
    border: none;
    margin-right: 5px;
    font-family: 'Bungee', cursive;
}

#titulo1jugador{
    font-family: sans-serif;
    color: blue;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-left: 15%;
    margin-top: 7%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}
#titulo2jugador{
    font-family: sans-serif;
    color: green;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-left: 15%;
    margin-top: 7%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    
}

#finaliv{
    color: grey;
    font-family: sans-serif;
    font-size: 27px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#mensajesenviados{
    height: 202px;
}

#elprimero{
    color: white;
    background-color: blue;
    font-size: 34px;
    font-family: 'Bungee', cursive;
}

#elsegundo{
    color: white;
    background-color: green;
    font-size: 34px;
    font-family: 'Bungee', cursive;
}

#chat{
    margin: 0;
    text-align: center;
    margin-top: 66px;
    font-family: sans-serif;
    background-color: white;
    width: 52%;
    float: right;
    border-radius: 4%;
    height: 300px;
}

#segundochat{

    width: 50%;
 
    color: green;

    text-align: center;
    margin: auto;
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
}

#primerchat{

    width: 50%;
    color: blue;
 
    text-align: center;
    margin: auto;
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
}

.espacioescribir{
    margin-top: 20px;
    border-style: none;
    background-color: grey;
    color: white;
    height: 36px;
    text-align: center;
}
.espacioescribir{
    margin-top: 20px;
    border-style: none;
    background-color: grey;
    color: white;
    height: 36px;
    text-align: center;
}

#escribir1{
    color: white;
    background-color: darkslategrey;
    border: white;
    height: 32px;
    border-width: 3px;
    border-style: solid;
    display: inherit;
    margin: auto;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#escribir2{
    color: white;
    background-color: darkslategrey;
    border: white;
    height: 32px;
    border-width: 3px;
    border-style: solid;
    display: inherit;
    margin: auto;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}